@font-face {
    font-family: "pulp";
    src: url("https://db.onlinewebfonts.com/t/dab0cc5cf1a63e08c37c2c2c37ef64d2.eot");
    src: url("https://db.onlinewebfonts.com/t/dab0cc5cf1a63e08c37c2c2c37ef64d2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/dab0cc5cf1a63e08c37c2c2c37ef64d2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/dab0cc5cf1a63e08c37c2c2c37ef64d2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/dab0cc5cf1a63e08c37c2c2c37ef64d2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/dab0cc5cf1a63e08c37c2c2c37ef64d2.svg#Aachen W02 Bold")format("svg");
}
body {
    font-family: Arial, sans-serif;
    background-color: #503D42;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: pulp;
    font-size: 100px;
    color: orange;
    text-shadow: red 0px 10px;
    margin: 0px;
}

.spotify {
    height: 200px;
    width: 24.7%;
}
